[user]
	email = dpsigor@gmail.com
	name = IGOR DE PAULA SILVA
[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[commit]
	template = /home/igor.psilva/.gittemplatecommit
